/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* utilities */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    font-size: 64px;
    line-height: 80px;
}

/* header part */

.content {
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.header-title {
    margin-left: 110px;
}

.header-title p {
    width: 25%;
    padding: 15px 20px;
    background-color: #E02C6D;
    font-size: 16px;
    color: white;
}

.button-1 {
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.header-content .header-title, .header-image {
    margin-top: 100px;
}

.header-image img {
    width: 556px;
    height: 438px;
    transition: 0.5s;
}

.header-image:hover img { 
    transform: rotate(10deg); transform-origin: top right;
}

/* players blog */
.container {
    width: 1050px;
    margin: auto;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 300px;
    height: 450px;
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

.card img {
    width: 300px;
    height: 256px;
}

/* footer area */

footer {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-image img {
    width: 483.87px;
    height: 110px;
}

.fab.social-icon {
    color: #969BAB;
    padding: 0 10px;
}

/* responsive for mobile */

@media only screen and (max-width: 600px) {
    .header-content, .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .content, .container {
        width: 100%;
        height: 100%;
    }


    .header-image img, .header-title {
        width: 100%;
        height: 100%;
    }

    footer {
        display: none;
    }
  }